option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_CONNECTION: "mysql"
    DB_HOST: "awseb-e-38pmhqssff-stack-awsebrdsdatabase-ciph5k2b9u5m.cbk0c84iqxln.ap-south-1.rds.amazonaws.com"
    DB_PORT: "3306"
    DB_DATABASE: "koel"
    DB_USERNAME: "admin"
    DB_PASSWORD: "}mw87V'8j9dm"
